@using CarBook.Dtos.CommentDtos
@model List<ResultCommentDto>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
	$(document).ready(function () {
		
		var url = '@Url.Action("AddChildrenComment", "Blog")';
		$('.search').click(function () {

			console.log('ckşcj')
			$('#commentreply').load(url, { id: 2 });
		})

		
	});
</script>
<ul class="comment-list">
	@foreach (var item in Model)
	{

		<li class="comment">
			@*  <div class="vcard bio">
		<img src="images/person_1.jpg" alt="Image placeholder">
		</div> *@
			<div class="comment-body">
				<h3>@item.Name</h3>
				<div class="meta">@item.CreatedDate.ToShortDateString()</div>
				<p>@item.Description</p>
				<p><button id="search" class="reply">Cevapla</button></p>
				<div class="commentreply" >
@* 					@await Html.PartialAsync("~/Views/Blog/AddChildrenComment.cshtml")
 *@				</div>
			</div>
			<ul class="children">
				@await Component.InvokeAsync("_CommentChildrenListByCommentComponentPartial", new { id = @item.CommentId })
			</ul>
		</li>

	}


</ul>