@using CarBook.Dtos.BlogDtos
@model List<ResultAllBlogsWithAuthorDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 1;
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Blog listesi</h4>
                        <p class="card-subtitle mb-4">
                            Blog ekleme, silme, güncellemei arama ve listeleme gibi işlemleri bu sayfa üzerinden gerçekletirebilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Başlık</th>
                                        <th>Yazar adı</th>
                                        <th>Tarih</th>
                                        <th>Kategori adı</th>
                                        <th>Sil</th>
                                        <th>Bloğu aç</th>
                                        <th>Yorumlar</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.Title</td>
                                            <td>@item.AuthorName</td>
                                            <td>@item.CreatedDate</td>
                                            <td>@item.CategoryName</td>
                                            <td><a href="/Admin/AdminBlog/RemoveBlog/@item.BlogId" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/Blog/BlogDetail/@item.BlogId" class="btn btn-outline-dark">Bloğu aç</a></td>
                                            <td><a href="/Admin/AdminComment/Index/@item.BlogId" class="btn btn-outline-warning">Yorumlar</a></td>

                                        </tr>
                                        count++;
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
            <!-- end col -->
            <!-- end col -->
        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>
